<% provide(:title, 'Team Member Tasks - TaskDeck') %>
<% @active = 2 %>

<% if signed_in? %>
<% if current_user.organization_id? %>

<br />

<div class="row-fluid">
    <aside class="span4">
      <%= render 'shared/side_menu' %>
    </aside>


    <div class="span8">
    	<% if current_user.team_id.nil? %>
    		<%= render 'not_in_team' %>
		<% end %>

		<% if current_user.team_pending? %>
			<%= render 'team_pending' %>
		<% end %>

		<% if current_user.team_id? && !current_user.team_pending? %>

		<h2><%= current_user.team.name %></h2><br />

				  <ul class="nav nav-tabs">
				    <li><a href="/teampanel">Main</a></li>

				    <% if current_user.team_leader? %>
						<% @pendinguser = User.count(:conditions => {:team_pending => true, :team_id => current_user.team_id}) %>

						<% @pendingtask = 0 %>
						<% tasks = Task.where(approved: false) %>
						<% tasks.each do |t| %>
						<% if t.user.team_id == current_user.team_id %>
							<% @pendingtask = @pendingtask + 1 %>
						<% end %>
						<% end %>

					    <li><a href="/team_management">
					    	Team Management 
					    	<% if @pendinguser != 0 %>
					    	<span class="badge badge-info">
					    	<%= @pendinguser %>
					    	</span></a>
					    	<% end %>
					    	</a>
					    </li>

					    <li class="active"><a href="/member_tasks">
					    	Member Tasks
					    	<% if @pendingtask != 0 %>
					    	<span class="badge badge-info">
					    	<%= @pendingtask %>
					    	</span></a>
					    	<% end %>
					    	</a>
					    </li>

					<% end %>
					  </ul>


						<% tasks = Task.where(approved: false) %>
						<% if !tasks.empty? %>
							<h3>Pending Tasks:</h3> 
							<table class="table">
							  <thead>
							    <tr>
							      <th>Task Name</th>
							      <th>Description</th>
							      <th>Member</th>
							      <th>...</th>
							    </tr>
							  </thead>
							  <tbody>

							<% tasks.each do |t| %>
								<% if t.user.team_id == current_user.team_id %>
								  <tr>   
								  	<td><%= t.name %></td>
								  	<td><%= t.description %></td>
								  	<td><%= t.user.name %></td>
									<td><button class="btn btn-success btn-mini"><%= link_to "Approve", { controller: :tasks, action: "approvetask", :id => t.id }, :method => :post %></button></td>
									
									<td><button class="btn btn-error btn-mini"><%= link_to "Reject", { controller: :tasks, action: "rejecttask", :id => t.id }, :method => :post %></button></td>

								  </tr>
								<% end %>
							<% end %>

							  </tbody>
							</table>

						<% else %>
						No pending tasks at this time.	

						<% end %>


				 	</div>
		<% end %>
    </div>
</div>









<!-- End of main page. These partials render the page for users who are not logged or do not have an organization -->

<% else %>
<%= render 'shared/no_organization'%>
<% end %>

<% else %>
<%= render 'shared/not_signed_in' %>
<% end %>