<% provide(:title, 'Team Panel - TaskDeck') %>
<% @active = 2 %>

<% if signed_in? %>
<% if current_user.organization_id? %>

<br />

<div class="row-fluid">
    <aside class="span4">
      <%= render 'shared/side_menu' %>
    </aside>


    <div class="span8">
    	<% if current_user.team_id.nil? %>
    		<%= render 'not_in_team' %>
		<% end %>

		<% if current_user.team_pending? %>
			<%= render 'team_pending' %>
		<% end %>

		<% if current_user.team_id? && !current_user.team_pending? %>

		<h2><%= current_user.team.name %></h2>

				<div class="tabbable"> 
				  <ul class="nav nav-tabs">
				    <li class="active"><a href="#tab1" data-toggle="tab">Main</a></li>


				    <% if current_user.team_leader? %>
						<% @pendingcount = User.count(:conditions => {:team_pending => true, :team_id => current_user.team_id}) %>
					    <li><a href="#tab2" data-toggle="tab">
					    	Team Management 
					    	<% if @pendingcount != 0 %>
					    	<span class="badge badge-info">
					    	<%= @pendingcount %>
					    	</span></a>
					    	<% end %>
					    </li>
					  </ul>
					<% end %>

					<div class="tab-content">
					    <div class="tab-pane active" id="tab1">
					      <p>
					      	Main team page.
					      </p>
					    </div>

					    <% if current_user.team_leader? %>
						    <div class="tab-pane" id="tab2">
						    	<%= render 'team_management' %>
					    	</div>
				    	<% end %>
				 	</div>
				</div> <!--End of Tabbable Navigation -->
		<% end %>
    </div>
</div>









<!-- End of main page. These partials render the page for users who are not logged or do not have an organization -->

<% else %>
<%= render 'shared/no_organization'%>
<% end %>

<% else %>
<%= render 'shared/not_signed_in' %>
<% end %>