<% provide(:title, @task.name + ' - TaskDeck') %>
<% @active = 1 %>

<% if signed_in? %>
<% if current_user.organization_id == @task.user.organization_id %>

<br />

<div class="row-fluid">
    <aside class="span4">
      <%= render 'shared/side_menu' %>
    </aside>


    <div class="span8">

      <h2><%= @task.name %> 
        <% if current_user == @task.user %>
          <div class="pull-right">
          <%= form_for :task, :url => url_for(:controller => 'tasks', 
                              :action => 'updateform') do |f| %>
          <%= f.hidden_field :id, :value => @task.id %>                      
          <%= f.submit "Update", class: "btn btn-mini" %>
          <% end %>
          </div>
        <% end %>


      </h2>

      <strong>Owner: <%= link_to @task.user.name, @task.user %></strong><br />
      <strong>Status: <%= @task.percent_complete.to_s() + "% complete." %></strong>


          <% if @task.percent_complete < 25 %> 
            <div class="progress progress-danger progress-striped" >
          <% elsif @task.percent_complete < 50 %>
            <div class="progress progress-warning progress-striped" >
          <% elsif @task.percent_complete < 100 %>
            <div class="progress progress-striped" >
          <% elsif @task.percent_complete = 100 %>
            <div class="progress progress-striped progress-success" >
          <% end %>

            <div class="bar"
                 style=<%= "width:#{@task.percent_complete}%;" %> >
            </div>
          </div> 

      <p><strong>Description:</strong><%= @task.description %></p>

      <strong>Changelog: </strong>
    <% tasknotes = TaskNote.where(task_id: @task.id).order("created_at DESC") %>

    <% if tasknotes.empty? %>
      No recorded changes or notes.
    <% else %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Time</th>
          <th>Note</th>
          <th>Completion</th>
        </tr>
      </thead>
      <tbody>
        <% tasknotes.each do |t| %>
        <tr>
          <td><%= time_ago_in_words(t.created_at) + " ago" %><br />
            <%= "(" + t.created_at.to_s + ")" %>
          </td>
          <td><%= t.description %></td>
          <td><%= t.percent_complete.to_s + " %" %></td>

        <% end %>
        </tr>
      </tbody>
    </table>

    <% end %>

    </div>
</div>









<!-- End of main page. These partials render the page for users who are not logged or do not have an organization -->

<% else %>
  Error. You do not have permission to view this page.
<% end %>

<% else %>
<%= render 'shared/not_signed_in' %>
<% end %>