<% provide(:title, 'Project Tasks - TaskDeck') %>
<% @active = 1 %>

<% if signed_in? %>
<% if current_user.organization_id? %>

<br />

<div class="row-fluid">
    <aside class="span3">
      <%= render 'shared/side_menu' %>
    </aside>


    <div class="span9">
        <% @pendingtask = Task.count(:conditions => {:approved => false, :user_id => current_user.id}) %>

          <ul class="nav nav-tabs">
            <li><a href="/">
              TaskDeck
              </a>
            </li>
              <li><a href="/finished">
                Completed Tasks
              </a>
              </li>
              <li><a href="/pending">
                Pending Tasks
                <% if @pendingtask != 0 %>
                  <span class="badge">
                  <%= @pendingtask %>
                  </span></a>
                <% end %>
                </a>
              </li>
              <li class="pull-right"><a href="/reminders">
                Reminders
              </a>
              </li>
              <li class="active"><a href="/project_tasks">
                Project Tasks
              </a>
              </li>
            </ul>

<% tasks = ProjectTask.where(user_id: current_user.id).order("project_id DESC, percent_complete ASC") %>

<h3>Project Tasks: </h3>
<br />
<% if tasks.empty? %>
No project tasks currently. It is your team leader's responsibility to assign you these tasks.

<% else %>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Task</th>
      <th>Description</th>
      <th>Project</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
    <% tasks.each do |t| %>
    <tr>
      <td><%= link_to t.name,t %></td>
      <td>

        <% if t.percent_complete < 100 %>
          <% if t.percent_complete < 25 %> 
            <div class="progress progress-warning progress-striped" >
          <% elsif t.percent_complete < 50 %>
            <div class="progress progress-striped" >
          <% elsif t.percent_complete < 100 %>
            <div class="progress progress-striped progress-success" >
          <% end %>

            <div class="bar"
                 style=<%= "width:#{t.percent_complete}%;" %> >
            </div>
          </div>
        <% end %>

            <% if t.percent_complete == 100 %>
            <span class="label label-success">Complete</span>
            <% end %>
            <br />
        <%= truncate t.description, length: 160 %>
        <div class="pull-right"><%= link_to 'More ->', t %></div>
      </td>
      <td><%= link_to t.project.name, t.project %></td>
      <td>        
        <center>

        <% if t.percent_complete < 100 %>
        <%= form_for :task, :url => url_for(:controller => 'project_tasks', 
                            :action => 'completetask') do |f| %>
        <%= f.hidden_field :id, :value => t.id %>                      
        <button type="submit" class="btn btn-success">
          <i class="icon-ok icon-white"></i>
        </button>
        <% end %>
        <% end %>
        
        <%= form_for :task, :url => url_for(:controller => 'project_tasks', 
                            :action => 'updateform') do |f| %>
        <%= f.hidden_field :id, :value => t.id %>                      
        <%= f.submit "Update", class: "btn btn-mini" %>
        <% end %>

        </center>
      </td>
      <% end %>

    </tr>
  </tbody>
</table>

<% end %>

<br />
<br />
<br />


    </div>
</div>









<!-- End of main page. These partials render the page for users who are not logged or do not have an organization -->

<% else %>
<%= render 'shared/no_organization'%>
<% end %>

<% else %>
<%= render 'shared/not_signed_in' %>
<% end %>