<% provide(:title, 'Settings - TaskDeck') %>
<% @active = 4 %>

<% if signed_in? %>
<% if current_user.organization_id? %>

<br />

<div class="row-fluid">
    <aside class="span3">
      <%= render 'shared/side_menu' %>
    </aside>


    <div class="span9">
    <h2>Settings</h2>  
 	  <%= form_for(@user) do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <br />Time Zone: <br />
      <%= time_zone_select( :user, :time_zone, ActiveSupport::TimeZone.us_zones, :default => "Pacific Time (US & Canada)")  %>

      <br />
      <br />
      Confirm/Change your password: <p>Enter your current password below to save your changes. If you wish to change your password, enter your new password below and save.</p>

      <%= f.label :password, "Password" %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm" %>
      <%= f.password_field :password_confirmation %>
      <br />
      <br />
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

<p>If you wish to change your profile picture, you must change it from <a href="http://www.gravatar.com">Gravatar.</a></p>

<p>Forgot your Password? Click <%= link_to "here", { controller: :users, action: "resetpassword", :id => current_user.id },  :confirm => "Are you sure? Your password will be reset and sent to you via email.", :method => :post %> to reset.
</p>

	</div>
</div>









<!-- End of main page. These partials render the page for users who are not logged or do not have an organization -->

<% else %>
<%= render 'shared/no_organization'%>
<% end %>

<% else %>
<%= render 'shared/not_signed_in' %>
<% end %>