<% provide(:title, 'Settings - TaskDeck') %>
<% @active = 4 %>

<% if signed_in? %>
<% if current_user.organization_id? %>

<br />

<div class="row-fluid">
    <aside class="span4">
      <%= render 'shared/side_menu' %>
    </aside>


    <div class="span8">
      <%= form_for @user, :url => url_for(:controller => 'users', 
                            :action => 'edit') do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirm Password" %>
      <%= f.password_field :password_confirmation %>
      <br />
      <br />
      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>


	</div>
</div>









<!-- End of main page. These partials render the page for users who are not logged or do not have an organization -->

<% else %>
<%= render 'shared/no_organization'%>
<% end %>

<% else %>
<%= render 'shared/not_signed_in' %>
<% end %>