<% provide(:title, 'Team Projects - TaskDeck') %>
<% @active = 2 %>

<% if signed_in? %>
<% if current_user.organization_id? %>

<br />

<div class="row-fluid">
    <aside class="span4">
      <%= render 'shared/side_menu' %>
    </aside>


    <div class="span8">
    	<% if current_user.team_id.nil? %>
    		<%= render 'not_in_team' %>
		<% end %>

		<% if current_user.team_pending? %>
			<%= render 'team_pending' %>
		<% end %>

		<% if current_user.team_id? && !current_user.team_pending? %>

		<h2><%= current_user.team.name %></h2><br />

				  <ul class="nav nav-tabs">
				    <li><a href="/teampanel">Main</a></li>

				    <% if current_user.team_leader? %>
						<% @pendinguser = User.count(:conditions => {:team_pending => true, :team_id => current_user.team_id}) %>

						<% @pendingtask = 0 %>
						<% tasks = Task.where(approved: false) %>
						<% tasks.each do |t| %>
						<% if t.user.team_id == current_user.team_id %>
							<% @pendingtask = @pendingtask + 1 %>
						<% end %>
						<% end %>




					    <li><a href="/team_management">
					    	Team Management 
					    	<% if @pendinguser != 0 %>
					    	<span class="badge badge-info">
					    	<%= @pendinguser %>
					    	</span></a>
					    	<% end %>
					    	</a>
					    </li>
					    <li><a href="/member_tasks">
					    	Member Tasks
					    	<% if @pendingtask != 0 %>
					    	<span class="badge badge-info">
					    	<%= @pendingtask %>
					    	</span></a>
					    	<% end %>
					    	</a>
					    </li>
					    
                        <li><a href="/assigntask">
                            Assign Tasks
                        </a>
                        </li>


					<% end %>

                        <li class="active"><a href="/projects">
                            Projects
                        </a>
                        </li>

					  </ul>

<div class="modal hide fade" id="NewProject">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Create New Project</h3>
  </div>
  <div class="modal-body">
      <%= form_for :project, :url => url_for(:controller => 'projects', 
                            :action => 'create') do |f| %>
          <%= f.label :name, "Project Name:" %>
          <%= f.text_field :name %>

          <%= f.label :description, "Brief Project Description:" %>
          <%= f.text_area :description %>

          <br />
  </div>
  <div class="modal-footer">
    <a href="#" class="btn pull-left" data-dismiss="modal">Close</a>
          <%= f.submit "Create Project", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>



		<% projects = Project.where(team_id: current_user.team_id) %>

		<h3>Projects:


		<% if current_user.team_leader? %>
  			<a class="btn pull-right" data-toggle="modal" href="#NewProject" >New Project</a>
  		</h3>
  		<% end %>


		<% if !projects.empty? %>
			<table class="table">
			  <thead>
			    <tr>
			      <th>Name</th>
			      <th>Progress</th>
			    </tr>
			  </thead>
			  <tbody>

			  <% projects.each do |p| %>
			  <tr>   
			  	<td><%= link_to p.name, p %></td>
			  	<td>...</td>
			  </tr>
			  <% end %>
			  </tbody>
			</table>
		<% else %>
			Your team has not started working on any projects yet.
		<% end %>


	</div>
		<% end %>
    </div>
</div>









<!-- End of main page. These partials render the page for users who are not logged or do not have an organization -->

<% else %>
<%= render 'shared/no_organization'%>
<% end %>

<% else %>
<%= render 'shared/not_signed_in' %>
<% end %>